<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Creepster&display=swap" rel="stylesheet">
  <title>Document</title>
</head>
<body>
  <header class="header">
    <div class="nome">
      <h1 class="nome-logo">
        Rick and Morty
      </h1>
    </div>
    <nav class="nav">
      <a href="#" class="nav-item">Início</a>
      <a href="#" class="nav-item">Favorito <span class="favorites-count">0</span></a>
    </nav>
  </header>
</body>
</html>

