body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #1F1F1F;
  min-height: 100vh;
  margin: 0;
}

.character {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.container-inicio {
  display: flex;
  justify-content: space-between;
  width: 720px;
  height: 49px;
  margin: 0 auto;
  padding: 10px;
  margin-bottom: 20px;
}

h1 {
  margin: 0;
  color: #00B5CC;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #B2DF28;
  font-family: 'Creepster', sans-serif;
}

.search-input {
  width: 327px;
  height: 48px;
  padding: 13px 16px;
  border-radius: 12px;
  border: 1px solid gray;
  gap: 12px;
  background: none;
}

.character-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
}

.character-item {
  position: relative;
  margin: 40px;
  width: 220px;
  height: 298px;
  border-radius: 12px;
  background: #0A0A0A;
  margin-bottom: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}

.character-image {
  width: 100%;
  height: auto;
  border-radius: 12px 12px 0 0;
}
.btn-fav:hover {
  height: 20px;
}

.character-info {
  padding: 16px;
  color: white;
}

.character-name {
  font-family: 'Creepster', sans-serif;
  font-size: 20px;
  margin-bottom: 5px;
}

.character-species {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}

.naoExiste{
  margin: 50px;
}
.nao-um {
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;
  color: #fff;
  align-items: center;
}
.nao-dois {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  line-height: 27px;
  color: #fff;
  align-items: center;
}
.btn-fav {
  position: absolute;
  top: 5px;
  right: 10px;
  padding: 5px 10px;
  background-color: transparent;
  color: #fff;
  border: none;
  font-size: 40px;
  cursor: pointer;
}

.btn-fav.favorite {
  color: black;
}


/* Adicionando responsividade */
@media screen and (max-width: 768px) {
  .container-inicio {
    width: 50%;
    flex-direction: column;
    align-items: center;
  }

  .search-input {
    width: 50%;
    margin: 50px;
  }

  .character-item {
    width: 30%;
    margin: 20px auto;
  }

  .btn-fav {
    font-size: 30px;
    top: 0;
    right: 0;
    padding: 3px 8px;
  }

  .naoExiste {
    margin: 20px;
  }

  .nao-um {
    font-size: 18px;
    line-height: 20px;
  }

  .nao-dois {
    font-size: 14px;
    line-height: 20px;
  }
}
