body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1F1F1F;
}

.character {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.container-inicio {
  display: flex;
  justify-content: space-between;
  width: 720px;
  height: 49px;
  margin: 0 auto;
  padding: 10px;
  margin-bottom: 20px;
}

h1 {
  margin: 0;
  color: #00B5CC;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #B2DF28;
  font-family: 'Creepster', sans-serif;
}

.search-input {
  width: 327px;
  height: 48px;
  padding: 13px 16px;
  border-radius: 12px;
  border: 1px solid gray;
  gap: 12px;
  background: none;
}

.character-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
}

.character-item {
  position: relative; /* Garante que o posicionamento relativo seja usado como referência */
  margin: 40px;
  width: 220px;
  height: 298px;
  border-radius: 12px;
  background: #0A0A0A;
  margin-bottom: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative; /* Adiciona o posicionamento relativo */
}

.character-image {
  width: 100%; /* Garante que a imagem ocupe toda a largura do contêiner */
  height: auto; /* Mantém a proporção da imagem */
  border-radius: 12px 12px 0 0;
}

.btn-fav {
  position: absolute; /* Posicionamento absoluto em relação ao contêiner pai */
  top: 10px; /* Ajusta a distância do topo */
  right: 10px; /* Ajusta a distância da direita */
  padding: 5px 10px;
  background-color: #fff;
  border: none;
  background: none;
  cursor: pointer;
  color: #0A0A0A;
}

.btn-fav:hover {
  height: 20px;
}

.character-info {
  padding: 16px;
  color: white;
}

.character-name {
  font-family: 'Creepster', sans-serif;
  font-size: 20px;
  margin-bottom: 5px;
}

.character-species {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}
