<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Creepster&display=swap" rel="stylesheet">
  <title>RICK AND MORTY</title>
</head>
<body>
  <div class="container-inicio">
    <h1 class="container-inicio">FAVORITOS</h1>
    <div class="character-list" *ngIf="favoritos.length > 0">
      <div class="character" *ngFor="let character of favoritos">
        <img class="character-image" [src]="character.image" alt="{{ character.image }}" />
        <button class="btn-fav" [class.favorite]="isFavorito(character)" (click)="toggleFavorite(character)">
          &#x2665;
        </button>
        <div class="character-info">
          <p class="character-name">{{ character.name }}</p>
          <p class="character-species">{{ character.species}}</p>
        </div>
      </div>
    </div>

    <div class="container-nao" *ngIf="favoritos.length === 0">
      <p class="container-um">Parece que você ainda não tem favoritos.</p>
      <p class="container-dois">Volte à página inicial e escolha os melhores para você.</p>
      <button class="btn-voltar" (click)="voltarInicio()">Voltar ao inicial</button>
    </div>
  </div>

</body>
</html>
